       <h1>u r at home</h1>
    
   <!-- if user exists -->
<%if(locals.user){%>         
   
    <!-- post form -->

<div id='post-form'>
       <form action="/post/create" method="POST">
              <textarea name="content" row="12" col="140" placeholder="type here.." required> </textarea>
               <br>
              <button type="submit">POST</button>
       </form>
</div>

    <!-- displaying posts   -->

      <%- include('_post') -%>
<%}%> 



        