    <link rel="stylesheet" type="text/css" href="/css/home.css">
 <div id="main">   
   <!-- if user exists -->

   <section id="comment">

<%if(locals.user){%>         
   
    <!-- post form -->

<div id='post-form'>
       <form action="/post/create" method="POST">
              <textarea name="content" row="12" col="140" placeholder="type here.." required> </textarea>
               <br>
              <button type="submit">POST</button>
       </form>
</div>

    <!-- displaying posts   -->

      <%- include('_post') -%>
<%}%>
   </section> 

<section id="friends">
   <%if(locals.user){%>
    
    <h4> Friends </h4>
      <section id="all_friends">
        <ul>
             <%for(u of all_user){%>
             <li>
                  <a href="user/profile/<%=u._id%>"><%= u.name %></a>
             </li>
            <%}%>
        </ul>
      </section>

               <%}%>
</section>

</div>