<link rel="stylesheet" type="text/css" href="/css/signin.css">
<form action="/user/create_session" method="POST">
    <input type="email" name="email" placeholder="Enter ur email" required>
    <br>
    <input type="password" name="password" placeholder="Enter ur password" required>
    <br>
    <button type="submit" >sign in</button>
      
</form>


