<form action="/user/create_session" method="POST">
    <input type="email" name="email" placeholder="Enter ur email" required>
    <input type="password" name="password" placeholder="Enter ur password" required>
    <button type="submit" >sign in</button>
    </form>


