<form action="/user/create" method="POST">
    <h2>NAME</h2>
    <input type="name" name="name" required>
    <h2>EMAIL</h2>
    <input type="email" name="email" required>
    <h2>PASSWORD</h2>
    <input type="password" name="password" required>
    <button type="submit"> signup</button>
</form>